<%- include('header') %>
<div class="result">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %> Dollars na cotação de <%= cotacao %> é igual a: <%= conversao %> Reais
    <% } %>
</div>
<%- include('footer') %>